body {
  margin: 0px;
}
.ph-root {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.ph-left {
  display: flex;
  align-items: center;
}
.ph-left h1 {
  font-size: 40px;
  font-weight: 800;
  margin-left: 10px;
}
.ph-right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.ph-search {
  background: transparent;
  border: 0px;
  padding: 3px;
  border-right: 1px solid #000000;
  margin: 5px 10px;
}
.ph-search-root {
  display: flex;
  align-items: center;
  background: #f7f3f3;
  border: 1px solid #000000;
  border-radius: 50px;
  padding-right: 10px;
  margin: 20px;
}
.ph-btn {
  background: #3184ad;
  border: 0px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 8px 13px;
  margin: 10px;
}
.ph-menu {
  margin: 10px;
}
.circle-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* Profile Details Css Start  */

#profile-details {
  background: linear-gradient(180deg, #0d70ca 0%, rgba(15, 76, 117, 0.69) 100%);
  color: white;
  padding-bottom: 20px;
}

.pd-root {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.pd-circle-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.pd-right {
  margin-left: 30px;
}
.pd-right-heading {
  display: flex;
  align-items: baseline;
}
.pd-right-heading h1 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0;
}
.pd-admin {
  background: #d7b333;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 3px 8px;
  margin-left: 10px;
}
.pd-admin p {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}
.pd-btn-flw {
  background: #1bd60b;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 25px;
  width: 120px;
  height: 30px;
  color: white;
}
.pd-btn-msg {
  background: #4a6ff4;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 25px;
  width: 120px;
  height: 30px;
  color: white;
}
.pd-labels {
  display: flex;
  margin-top: 20px;
}
.pd-label-chip {
  text-align: center;
  background: #faff00;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 25px;
  color: #000;
  width: 75px;
  height: 20px;
  margin-right: 10px;
}
.pd-footer {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 20px;
  margin: 20px 40px;
}

/* Project Details CSS Start*/

#project-details {
  padding: 20px;
}
.project-heading {
  margin-left: 50px;
}
.projects-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.project-card-root {
  padding: 0 10px;
  background: #efefef;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  width: 30%;
  height: 120px;
  min-width: 320px;
  margin: 10px;
}

/* Blogs Details CSS Start*/
#blogs-details {
  padding: 20px;
}

/* Clans Details CSS  */
#clans-details {
  padding: 20px;
}
.clans-cards {
  display: flex;
  flex-wrap: wrap;
}
.clan-card-root {
  text-align: center;
  color: white;
  background: #012aff;
  background-blend-mode: hard-light;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 25%;
  min-width: 320px;
  margin: 10px;
}
